/*common desgin for every elements*/
body {
  background: #eeeeee;
  margin: 0;
  padding: 0;
}
/*top section desgin */
.navbar {
  display: flex;
  list-style-type: none;
}
.navbar li:nth-child(2) {
  flex-grow: 5;
  margin-left: 30px;
  font-size: 2em;
}

.navbar li:nth-child(3) {
  flex-grow: 1;
  margin-top: 10px;
  font-size: 1.2em;
}
.navbar li:nth-child(4) {
  flex-grow: 1;
  margin-top: 10px;
  font-size: 1.2em;
}
.navbar li:nth-child(5) {
  flex-grow: 1;
  margin-top: 10px;
  font-size: 1.2em;
}

.top-section {
  text-align: center;
}
.top-section h2 {
  font-size: 1.8em;
  margin-top: 20px;
}
.top-section input {
  min-width: 20%;
}
::placeholder {
  padding: 15px;
}
.top-section a {
  text-decoration: none;
  display: block;
  margin-top: 10px;
  background: #f1c40f;
  width: 12%;
  text-align: center;
  margin: 30px auto;
  font-size: 1.4em;
  font-weight: 700;
}

/*mid-section desgin */

.mid-section {
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}
.grid img {
  width: 50px;
  height: 30px;
}
.grid h1,
p {
  text-align: justify;
  margin-bottom: 20px;
}
.grid p {
  margin-left: 155px;
  font-size: 1.4em;
}

.grid h1 {
  font-size: 1.6em;
}

.grid img {
  margin-right: 100px;
}

.first {
  grid-column: 3/8;
}
.second {
  grid-column: 3/8;
}
.third {
  grid-column: 3/8;
}
.video {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 80px;
}
/*lower section desgin*/
.lower-section {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
.box {
  border: 1px solid black;
  width: 80%;
  text-align: center;
  height: 300px;
}
.box p {
  text-align: center;
  font-size: 1.2em;
}
.box a {
  text-decoration: none;
  background: #f1c40f;
  width: 10%;
  font-size: 1.2em;
  padding: 5px;
}
.one {
  grid-column: 3/6;
}
.two {
  grid-column: 6/9;
}
.three {
  grid-column: 9/12;
}
.lower-section h1 {
  background: #dddddd;
  margin-top: 0;
}
/* footer section design */
footer {
  background: #dddddd;
  text-align: end;
  height: 80px;
  position: relative;
  width: 60%;
  left: 300px;
  margin-top: 30px;
}
footer ul {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
}
footer ul li {
  margin: 15px 15px 2px 10px;
}
footer p {
  margin-bottom: -200px;
  margin-top: -15px;
  margin-right: 10px;
  text-align: end;
}
a:hover {
  animation: anime 1s linear both;
}
/*animation */
@keyframes anime {
  0% {
    background: #f1c40f;
  }

  50% {
    background: orange;
  }
  100% {
    background: orangered;
  }
}

/*media query for different resolutions*/

@media screen and (max-width: 1100px) {
  footer {
    width: 100%;
    left: 0;
  }
  .top-section a {
    width: 20%;
  }
  .box {
    height: 400px;
  }
}
@media screen and (max-width: 620px) {
  .navbar {
    flex-direction: column;
    text-align: center;
  }
  .first {
    grid-column: 1/8;
  }
  .second {
    grid-column: 1/8;
  }
  .third {
    grid-column: 1/8;
  }
  .box {
    width: 100%;
  }
  .lower-section h1 {
    font-size: 1.1em;
  }
}

@media screen and (max-width: 500px) {
  footer {
    width: 100%;
    left: 0;
  }
  .top-section a {
    width: 30%;
  }
  .lower-section h1 {
    font-size: 1em;
  }
}
@media screen and (max-width: 415px) {
  .navbar {
    flex-direction: column;
    text-align: center;
  }
  .grid {
    text-align: left;
  }
  .first {
    grid-column: 1;
  }
  .second {
    grid-column: 1;
  }
  .third {
    grid-column: 1;
  }
  .box {
    height: 500px;
  }
  .lower-section h1 {
    font-size: 0.8em;
  }
  .box a {
    width: 2%;
  }
}
